extends layout/default

block vars
  -
    page = {
      language: 'ua',
      name: 'Projects',
      title: 'Projects',
      appTitle: 'Projects',
      description: 'All my projects list'
    }
    
    projects = [
      {
        category: 'нода',
        title: 'Соціальна мережа "мікіно.юа"',
        description: 'Проста соціальна мережа, яка дозволяє спілкуватися з друзями та публікувати власні медіа на сторінці з унікальним дизайном створеним самим користувачем.',
        img: 'Annotation 2019-06-10 135210.png',
        link: '/frontpage.html'
      },
      {
        category: 'нода',
        title: 'Реєстр коломиї',
        description: 'Сайт що дозволяє публікувати новини для жителів міста та проводити облік населення і їх власнсті на стороні адміна.',
        img: 'Annotation 2019-06-23 173628.png',
        link: 'https://mikino.herokuapp.com/'
      },
      {
        category: 'реакт',
        title: 'Пошук твітів',
        description: 'Сайт, що дозволяє здійснювати зручний пошук сторінок з твітеру та всіх твітів з неї.',
        img: 'Annotation 2019-06-23 192639.png',
        link: 'https://mikino.herokuapp.com/'
      },
      {
        category: 'реакт',
        title: 'Симуляція покупки біткоїну',
        description: 'Сайт надає користувачу стартовий капітал який дозволяє симулювати торгівлю біткоїном. Данні беруться в реальному часі. Симулятор дозволяє обмінювати як валюту, так і біткоїни',
        img: 'Annotation 2019-06-23 202406.png',
        link: 'https://mikino.herokuapp.com/'
      },
      {
        category: 'смартфон',
        title: 'Керування ПК',
        description: 'Комплекс програм, що дозволяє здійснювати віддалене керування комп\'ютером за домогою смартфона.',
        img: 'Annotation 2019-06-23 210117.png',
        link: 'https://mikino.herokuapp.com/'
      },
      {
        category: 'верстка',
        title: 'Смарт-куртка',
        description: 'Виводить покази з датчкиків на смарт-куртці (тепература, тиск, серцебиття...) та дозволяє керувати спеціальним функціоналом.',
        img: 'hart.png',
        link: 'https://mikino.herokuapp.com/'
      },
      {
        category: 'верстка',
        title: 'Сайт фотографа',
        description: 'Сайт портфоліо для фотографа. Мій перший комерційний проект. Оптимізацією Задоволений.',
        img: 'photograph.png',
        link: 'https://vitaliy-todosiychuk.com'
      },
      {
        category: 'верстка',
        title: 'Сайт Dt Logick Group',
        description: 'Сайт Dt Logick Group. Мій другий комерційний проект.',
        img: 'dtlogick.png',
        link: 'http://dtlogickgroup.com.ua/index.html'
      }
    ]
    
    usedCategories = []

block beforeload
  link(rel="stylesheet", href="projects.css")
  
block afterload
  script(src="js/projects.js")

block content
  +b.SECTION.projects
    +e.ARTICLE.control
      each project in projects
        if (usedCategories.indexOf(project.category) == -1)
          +e.DIV.control__item(category=project.category)
            .border
              .frame-1
              .frame-2
              .frame-3
            .border-fill
              .frame-1
              .frame-2
              .frame-3
            span #{project.category}
          -
            usedCategories.push(project.category)
      span.instruction Туто фільтр
    +e.ARTICLE.list
      each project in projects
        +b.DIV.project.link(pagePath=project.link, category=project.category)
          +e.H4.title= project.title
          +e.P.description= project.description
          .line
            .frame-1
            .frame-2
            .frame-3
          +e.image
            img(src="../assets/images/" + project.img, alt=project.title)
            if (project.img == "Annotation 2019-06-10 135210.png")
              include ../assets/images/draw.svg
            if (project.img == "Annotation 2019-06-23 173628.png")
              include ../assets/images/village.svg
            if (project.img == "hart.png")
              include ../assets/images/hart.svg
            if (project.img == "Annotation 2019-06-23 192639.png")
              include ../assets/images/twitter.svg
            if (project.img == "Annotation 2019-06-23 202406.png")
              include ../assets/images/bitcoin.svg
            if (project.img == "Annotation 2019-06-23 210117.png")
              include ../assets/images/remote.svg
            if (project.img == "photograph.png")
              include ../assets/images/photograph.svg
            if (project.img == "dtlogick.png")
              include ../assets/images/dtlogick.svg
            .clip(clipid="1")
            .clip(clipid="2")
            .clip(clipid="3")
            .clip(clipid="4")
          .line
            .frame-1
            .frame-2
            .frame-3
            
    
